<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/"><span class="text-white">Kino</span><span
    class="text-dark bg-primary rounded" style="padding: 1px;">Blog</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a *ngIf="!isAuthenticated; else authenticated" class="nav-link" routerLinkActive="active" routerLink="/login">Авторизация<span
    class="sr-only">(current)</span></a>
  <ng-template #authenticated>
    <a class="nav-link" routerLinkActive="active" routerLink='/user/{{user.id}}'>Профиль<span
      class="sr-only">(current)</span></a>
    <a *ngIf="isModerator || isAdmin" class="nav-link" routerLinkActive="active" routerLink="/add">Добавить<span class="sr-only">(current)</span></a>
    <a *ngIf="isAdmin" class="nav-link" routerLinkActive="active" routerLink='/admin'>Панель администратора<span class="sr-only">(current)</span></a>
    <a *ngIf="isAdmin" class="nav-link" routerLinkActive="active" routerLink="/admin/restore">Резервное копирование<span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLinkActive="active" routerLink="/" (click)="logout()">Выйти<span
      class="sr-only">(current)</span></a>
  </ng-template>
</nav>
<div class="container-fluid mt-3">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
