
.card-columns .card {
  border-color: #007bff;
}

.card-columns .card img {
  height: 230px;
}

.card-columns .card:hover {
  border-color: #ffc107;
  cursor: pointer;
}

.filter-body {
  background-color: #3f454a;
}
